ipython
Jinja2
joblib
lancedb
langchain
langchain_community
langchain_core
langchain_huggingface
langchain_openai
language_tool_python
llama_index
matplotlib
nltk
numpy
onnxruntime
openai
pandas
PyYAML
PyYAML
qdrant_client
scikit_learn
seaborn
sentence_transformers
pyspellchecker
tiktoken
torch
tqdm
transformers
umap
tabulate
